@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    
        <div class="col-md-5">
            <img src="~/Content/Images/Logo.png" />
        </div>
        <div class="col-md-7">
            <hr />
            <img src="~/Content/Images/Promo.png" />
            <h5 style="color:#cfcfcf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Incluye agua de fruta</h5>
            <hr />
            
        </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Snack Bar</h2>
        <img src="~/Content/Images/SnackBar.png" height="340" width="300" />
        <p>
            Snack Bar description
        </p>
        <p><a class="btn btn-default" href="javascript:;">Leer m&aacute;s</a></p>
    </div>
    <div class="col-md-4">
        <h2>Eventos</h2>
        <img src="~/Content/Images/Eventos.png" height="340" width="300" />
        <p>Descripci&oacute;n Eventos</p>
        <p><a class="btn btn-default" href="javascript:;">Leer m&aacute;s</a></p>
    </div>
    <div class="col-md-4">
        <h2>Men&uacute;s</h2>
        <img src="~/Content/Images/Menus.png" height="340" width="340" />
        <p>Descripción men&uacute;s</p>
        <p><a class="btn btn-default" href="javascript:;">Leer m&aacute;s</a></p>
    </div>
</div>